/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Montserrat', sans-serif;
  
}

.container{
  padding: 0 10px;
  margin:auto;
  position:relative;
  width: 100%;
  max-width: 450px;
}

.container-profile{
  display: block;
  margin: auto;
  height: 200px;
  width: 140px;
  text-align: center;
  margin-top: 17px;
}

.container-profile img{
  max-width: 100%;
  border-radius: 15px;
  
}

/* heading text */
.container-profile span{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4E5150;
}

.container-profile span+span{
  font-size: 10px;
  line-height: 12px;
  color: #A9A9A9;
}

/* STATUS (POST, FOLLOWERS AND FOLLOWING) */

.container-status{
  display: flex;
  justify-content: center;

}
.container-status > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
  height: 52px;
  width: 78px;
  border-radius: 12px;
  margin: 10px;
}

/* STATUS TEXT (POST FOLLOWER AND FOLLOWING */
.container-status span{
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 600;
  color: #4E5150;
}

.container-status span+span{
  color: #BDBDBD;
}


/* SECTION */
/* TOP SECTION */
.container-top-section{
  display: flex;
  height: 150px;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.container-top-section div{
  margin: 7px;
}




.container-lower-section{
  display: grid;
  grid-template-columns: 2fr 1fr; 
  justify-content: center;
}

.container-lower-section > div{
  margin: 0 7px;
}

.left-lower-section{
  display: flex;
  flex-direction: column;
}


.left-section-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 13px;
  margin-top: 7px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* IMAGE */

img{
  width: 100%;
  border-radius: 15px;
}

/* FOOTER */
footer{
  margin-top: 30px;
  font-size: 2vh;
  text-align: center;
  color: #BDBDBD;
}

/* MEDIA QUERIES */
@media (min-width:320px){
 section{
   margin-top: 0;
 }
}

@media (min-width:375px){
  section{
    margin-bottom: 100px;
  }
}

@media (min-width:425px){
  section{
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@media(min-width:768px){
  .container{
    max-width: 1000px;
  }

  section{
    margin-top: 150px;
    margin-bottom: 350px;
  }

  .container-top-section{
    overflow: visible;
  }

  /* .right-lower-section{
    flex-basis: 56vh;
  } */
}

@media (min-width:1280px){
  section{
    margin-top: 230px;
    margin-bottom: 500px;
  }

  /* .right-lower-section{
    flex-basis: 60vh;
  } */
}